<button
  class="btn btn-primary mb-4"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  (click)="clickAddEmployee()"
>
  Add Product
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="showAdd" class="modal-title" id="exampleModalLabel">
          Add Product
        </h5>
        <h5 *ngIf="showUpdate" class="modal-title" id="exampleModalLabel">
          Update Product
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input
              formControlName="price"
              type="number"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Stock</label>
            <input
              formControlName="stock"
              type="number"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="cancel"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          *ngIf="showAdd"
          type="button"
          class="btn btn-primary"
          (click)="addProduct()"
        >
          Add
        </button>
        <button
          *ngIf="showUpdate"
          type="button"
          class="btn btn-success"
          (click)="updateProduct()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div
    class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4"
    *ngFor="let product of products; let i = index"
  >
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        height="200"
        src="http://localhost:3030/api/products/images/{{ product.imageName }} "
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-text">Price: {{ product.price }}</div>
        <div class="card-text mb-3">Stock: {{ product.stock }}</div>
        <a
          [routerLink]="['/products', product.id]"
          routerLinkActive="router-link-active"
          ><button class="btn btn-primary">Detay</button></a
        >
        <button
          class="btn btn-success mx-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="onEdit(product)"
        >
          Güncelle
        </button>
        <button class="btn btn-danger" (click)="deleteProduct(product.id)">
          Sil
        </button>
      </div>
    </div>
  </div>
</div>
